# Dependencies & Bundles
node_modules/
dist/
target/
*.jar
*.war
*.class

# IDE & OS
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db

# Environment variables & logs
.env
.env.local
*.log

# Temp files
*.tmp
*.bak
